body {
    overflow-x: hidden;
}

.gap-10 {
    gap: 10;
}

.h-35 {
    height: 35%;
}

.vh-200 {
    height: 200vh;
}

.arrow {
    width: 143px;
    height: 141px;
}

.fs-74 {
    font-size: 74px;
}

.text-green {
    color: #2b666e;
}



/* PAGINA 2 */
.estrategia_arrow {
    top: 10%
}

.estrategia_asterisk {
    left: 35%;
    top: 40%;
}

.estrategia_doubleasterisk {
    right: 10%;
    bottom: 10%;
}

.estrategia_triangle {
    right: 5%;
    top: 20%;
}

.estrategia_doublearrow {
    bottom: 10%;
    left: 10%;
}

.pcCurved_arrow {
    left: 25%;
    bottom: 30%;
}

/* 90% */
.quotation_marks  {
    left:25%;
    top: 25%;
    height: 15%;
}

.long_line {
    bottom: 25%;
    left: 38%;
}

.small_line {
    bottom: 35%;
    right: 20%;
}

/* FLYWHEEL */
.crossed_line {
    top: 25%;
    left: 10%;
}

.rounded_diagram {
    left: 25%; 
    bottom: 0;
}

.flywheel_line {
    left: 15%;
    height: 0.2%;
    width: auto;
}

/* PROCESOS CX */
.serviciocliente {
    left: 10%;
    top: 50%;
}

/* BUYER PERSONAS */
.crossed_square {
    right: 15%;
    top: 50%;
}

/* CUSTOMER JOURNEY */
.crossed_linejourney {
    right: 15%;
    top: 25%;
    max-width: 100%;
    height: auto;
}

/* PIPELINE */
.pipeline {
    max-width: 80%;
    height: auto;
    bottom: -50%;
}

/* SOMOS EPIC-DANTA */
.asterisk_weareed {
    right: 10%;
    top: 10rem;
}

.triangle-weareed {
    top: 20rem;
    right: 20%;
}

.doubleA-weareed {
    bottom: 2rem;
    left: 10%;
}

/* EPIC-DANTA->SOLUCIONES */
.bg-img-borders {
    background-image: url(Imgs/recuadro-nos.png);
    background-size: 100% 100%;
    padding: 4% 5%;
}

/* SERVICIO AL CLIENTE */
.curled_arrow {
    right: 30%;
}

.lineclientservices,
.bottom_line {
    max-width: 100%;
    height: auto;
}


/* INBOUND SERVICE */
.IScrossed_line {
    top: 20%;
}

.IScrossed_linesmall {
    top: 70%;
    left: 10%;
}

/* BENEFCIOS DEL INBOUND CUSTOMER SERVICE */
.double_arrow_inbound {
    top: 25%;
}

/* ECOSISTEMA TERRARIUM */
.asterisk_ecosistema {
    top: 15%;
    left: 10%;
}

.ecosistema_curved_arrow { 
    top: 25%;
    right: 10%;
}

.trangle_ecosistema {
    bottom: 20%;
    right: 15%;
}

.double_asterisk_ecosistema {
    bottom: 5%;
    right: 15%;
}

.double_arrow_ecosistema {
    bottom: 5%;
}

/* TERRARIUM */
.crossed_line_terrarium {
    top: 20%;
}

.grafico_terrarium {
    top: 70%;
}

.lineclientservice_terrarium {
    max-width: 100%;
    height: auto;
}

/* VENTAS Y CRM */
.bottom_arrow {
    bottom: 5%;
}

.animated_tablet {
    right: 10%;
    top: 35%;
}

.animated_euro {
    right: 20%;
    bottom: 20%;
}

.animated_dollar {
    left: 15%;
    bottom: 20%;
}

.animated_stadistics {
    left: 5%;
    top: 40%;
}

.triangle_ventas {
    top: 10%;
    left: 15%;
}

/* VENTAS */
.crossed_line_ventas {
    top: 20%;
}

/* 4 BENEFICIOS */
.curled_line_beneficios {
    top: 25%;
    right: 15%;
}

/* CX & BUSINESS INTELLIGENCE */
.asterisk_cx {
    top: 10%;
    left: 10%;
}

.double_bottom_arrow {
    bottom: 10%;
}

.bottom_line {
    bottom: 0;
}

.double_asterisk_cx {
    bottom: 10%;
    right: 10%;
}

.triangle_cx {
    bottom: 35%;
    right: 20%;
}

/* DATA & INTELIGENCIA */
.DATAcrossed_line {
    top: 30%;
}

.data {
    left: 65%;
    top: 65%;
}

.double_arrow_data {
    bottom: 0;
    left: 10%;
}

.curved_arrow_data {
    right: 5%;
}

/* SOCIAL MEDIA */
.asterisk_social {
    top: 20%;
    left: 15%;
}

.double_asterisk_social {
    bottom: 5%;
    left: 10%;
}

.circle_redsoc {
    top: 35%;
}

/* 6 PASOS */
.bg-6steps1 {
    background-image: url(Imgs/Grupo\ 275.png);
    background-size: 100% 100%;
    height: 30rem;
    width: 45rem;
}

.bg-6steps2 {
    background-image: url(Imgs/Grupo\ 277.png);
    background-size: 100% 100%;
    height: 30rem;
    width: 45rem;
}

.bg-6steps3 {
    background-image: url(Imgs/Grupo\ 285.png);
    background-size: 100% 100%;
    height: 30rem;
    width: 45rem;
}

.bg-6steps4 {
    background-image: url(Imgs/Grupo\ 283.png);
    background-size: 100% 100%;
    height: 30rem;
    width: 45rem;
}